*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  background-color: var(--main-background);
  height: 100vh;
}

.container {
  display: grid;
  place-items: center;
  height: 97%;
}

.card {
  width: 60%;
  height: 450px;
  border-radius: 0.5em;
  display: flex;
  background-color: var(--card-background);
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 4em;
  padding-right: 8em;
}

.content > h1 {
  font-size: 2.5em;
  color: var(--main-heading);
}

.highlight {
  color: var(--accent);
}

.content > p {
  width: 90%;
  margin-bottom: 50px;
  font-size: 1.1em;
  color: var(--main-paragraph);
}

.stats {
  display: flex;
  width: 90%;
  font-size: 0.8em;
  color: var(--stat-headings);
  justify-content: space-between;
}

.stats-number {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--main-heading);
}

.image {
  flex: 1.3;
  background: url("./images/image-header-desktop.jpg") var(--accent);
  background-size: cover;
  background-blend-mode: multiply;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1600px) {
  .content {
    padding: 4em;
  }
}

@media (max-width: 1400px) {
  .content {
    padding: 2em;
  }
}

@media (max-width: 1200px) {
  .content {
    padding: 1em;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  body {
    height: 150vh;
  }

  .card {
    flex-direction: column-reverse;
    width: 90%;
    height: 90%;
  }
  .content {
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  .stats {
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .image {
    flex: 0.5;
    background: url("./images/image-header-mobile.jpg") var(--accent);
    background-size: cover;
  }
}
